
//
// Reset
// --------------------------------------------------

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9;
}

img {
  max-width: 100%;
  height: auto;
}


a {
  text-decoration: none !important;
}