//
// Variables
// --------------------------------------------------

$blue: rgba(38, 51, 69, 1);
$blue-6: rgba(38, 51, 69, .6);
$blue-9: rgba(38, 51, 69, .9);

$red: rgba(122, 11, 19, 1);
$heart: rgba(216, 0, 80, 1);

$vic-center: rgba(111, 155, 216, 1);
$vic-east: rgba(131, 85, 171, 1);
$vic-north: rgba(51, 184, 107, 1);
$vic-south: rgba(230, 127, 61, 1);

$white: rgba(250,250,250, 1);

$text-copy: rgba(161, 161, 161, 1);
$bg-footer-sidebar: rgba(247, 247, 247, 1);
$row: rgba(196, 196, 196, 1);
$font-color: rgba(34, 34, 34, 1);


