body.login {
	position: relative;
	background-image: url('assets/img/anuario-intro-home-xlg.jpg');
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}

body.login::before {
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	background: rgba(38,51,69,0.96);
}

body.login div#login h1 a {
	background-image: url('assets/img/logo-anuario-login.png') !important;
	width: 270px !important;
	height: 210px !important;
	background-size: 80% !important;
	background-position: center !important;
}

body.login div#login p#nav a,
body.login div#login p#backtoblog a {
	color:  $white;
}

body.login div#login p#backtoblog {
	display: none;
}

/* links bottom */

body.login #nav {
	padding-bottom: 40px;
}

body.login #nav a {
	color: white;
}