body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F9F9; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none !important; }

* {
  font-weight: 400; }

button.load-more {
  border: 2px solid #e1e1e1;
  color: #777;
  border-radius: 6px;
  position: relative;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }
  button.load-more .svg-inline--fa.fa-w-14 {
    width: 16px;
    margin-left: 8px; }

/**/
/* Animations*/
/* --------------------------------------------------*/
.wpcf7-response-output {
  border-radius: 5px; }

.item-app {
  padding: 0;
  margin: 0; }
  .item-app li {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 14px;
    position: relative;
    margin: 15px 0px;
    border-radius: 6px;
    list-style: none; }
    .item-app li:hover {
      background: rgba(255, 255, 255, 0.2); }
    .item-app li a {
      display: flex;
      align-items: center;
      color: #222222;
      z-index: 12;
      padding: 16px;
      text-decoration: none; }
      .item-app li a > div {
        flex: 1; }

.item-load .item-app__item {
  display: none; }

.col-image-item-app {
  flex: 0 1 65px !important; }

.image-item-app {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #263345;
  font-size: 30px;
  color: #fafafa; }
  .image-item-app img {
    width: 105%;
    height: 105%;
    -o-object-fit: cover;
    object-fit: cover; }
  .image-item-app svg {
    width: 100%; }

.col-name-item-app {
  margin-right: auto;
  padding-left: 25px;
  max-width: 400px;
  padding-right: 40px; }
  .col-name-item-app h2 {
    margin: 3px 0;
    font-weight: 500;
    font-size: 16px;
    color: #7a0b13; }
  .col-name-item-app p {
    font-size: 14px;
    margin: 0;
    color: #111; }
    .col-name-item-app p:first-child {
      font-weight: 500; }

.e-mail-item-app {
  padding: 0 15px;
  font-size: 14px; }

.phone-item-app {
  flex: 0 1 150px !important;
  font-size: 14px; }

/*  RESPONSIVE */
/*-------------------------------- 
	# SINGLE
 -------------------------------*/
.box {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.14);
  background: #fff;
  margin: 15px 0;
  border-radius: 6px; }

.p-box {
  padding: 20px; }

.container-single {
  max-width: 620px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }
  .container-single > div {
    flex: 1; }
  @media (max-width: 575px) {
    .container-single {
      flex-direction: column; }
      .container-single .image-single {
        height: 42vh;
        border-radius: 6px 6px 0 0; }
      .container-single .header-single {
        text-align: center; } }

.image-single {
  position: relative;
  background-color: #263345;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px 0 0 6px;
  height: auto;
  min-height: 260px; }
  .image-single img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 101%;
    min-height: 101%;
    -o-object-fit: cover;
    object-fit: cover; }
  .image-single svg {
    width: 80% !important; }

.close-single {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 32px;
  line-height: 1;
  color: #fafafa;
  display: block;
  background-color: rgba(38, 51, 69, 0.6);
  border-radius: 6px 0 6px 0; }
  .close-single button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: none;
    border: 0;
    color: #fafafa; }
    .close-single button svg {
      width: 30px !important;
      height: auto;
      position: relative;
      top: -2px; }

.text-single {
  flex: 0 1 55% !important;
  padding: 20px;
  position: relative; }

.edit-single {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 28px;
  line-height: 1;
  color: #fafafa;
  display: block;
  background-color: rgba(38, 51, 69, 0.6);
  border-radius: 0 6px 0 6px; }
  .edit-single a {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: none;
    border: 0;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .edit-single a:hover:after {
      position: absolute;
      left: 100%;
      top: 16px;
      padding: 5px 0;
      content: "Editar Perfil";
      font-size: 14px;
      background: rgba(38, 51, 69, 0.6);
      width: 90px;
      text-align: center;
      border-radius: 0 6px 6px 0; }
    .edit-single a svg {
      width: 30px !important;
      height: auto;
      margin-left: 5px; }

@media (max-width: 575px) {
  .edit-single {
    border-radius: 0 0 0 6px; }
    .edit-single a:hover:after {
      left: auto;
      right: 0;
      bottom: 100%;
      top: auto;
      border-radius: 6px 6px 0 0; } }

.header-single h1 {
  font-size: 20px;
  font-weight: 700;
  color: #7a0b13;
  margin: 5px 0; }

.content-text-single p {
  line-height: 1.5;
  margin: 10px 0; }

.content-text-single ul {
  padding-left: 0; }
  .content-text-single ul li {
    list-style: none;
    margin: 10px 0;
    display: flex;
    align-items: flex-start; }
    .content-text-single ul li svg {
      width: 18px !important;
      height: auto;
      margin-top: 4px;
      margin-right: 10px; }

.social-list-igreja {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: -10px 0 0 0; }
  .social-list-igreja li {
    padding-right: 10px; }
    .social-list-igreja li a {
      color: #263245;
      transform: scale(1.2);
      transform-origin: 0 0; }

/* INFO SINGLE */
.extra-info-single {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px; }
  .extra-info-single ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .extra-info-single ul li {
      margin: 10px 0;
      display: flex;
      align-items: flex-start; }
      .extra-info-single ul li svg {
        width: 18px !important;
        height: auto;
        position: relative;
        top: 4px;
        margin-right: 10px; }

.conection-padre-igreja {
  padding-top: 20px;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto; }

/* 
	COMUNIDADES
*/
.text-comun-e-inst {
  font-weight: 300;
  line-height: 1.4; }

.item-people-comun:last-child ul {
  margin-bottom: 0; }

.item-people-comun h4 {
  color: #7A0B13;
  font-size: 16px;
  margin: 0;
  font-weight: bold; }

.item-people-comun ul {
  margin: 10px 0 15px 0;
  padding: 0;
  list-style: none; }
  .item-people-comun ul li {
    display: flex;
    align-items: center; }

.ico-people-comun {
  font-size: 1.3rem;
  min-width: 35px; }
  .ico-people-comun svg {
    width: 23px !important;
    max-height: 30px; }

.text-people-comun p {
  margin: 0; }

.email-people-comun p {
  word-break: break-all; }

.app {
  display: flex;
  align-items: flex-start; }

.sidebar-app,
.content-app {
  flex: 1; }

/**/
/* Header*/
/* --------------------------------------------------*/
.header-site {
  background: #263345;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999; }
  .header-site .d-flex {
    height: 4rem;
    color: #fafafa;
    align-items: center; }
    .header-site .d-flex a {
      color: #fafafa; }
    @media (max-width: 992px) {
      .header-site .d-flex {
        justify-content: center; }
        .header-site .d-flex .col-brand {
          margin-right: 0 !important; } }

.col-ico-menu {
  padding-right: 20px; }
  .col-ico-menu a {
    position: relative;
    top: 2px; }
    .col-ico-menu a svg {
      width: 30px; }

.app-nav-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  top: 7px; }
  @media (max-width: 992px) {
    .app-nav-toggle {
      position: absolute;
      left: 15px;
      top: 19px; } }

.app-nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.app-nav-toggle span:nth-child(1) {
  top: 0px; }

.app-nav-toggle span:nth-child(2), .app-nav-toggle span:nth-child(3) {
  top: 12px; }

.app-nav-toggle span:nth-child(4) {
  top: 23px; }

@media (max-width: 992px) {
  .app-nav-toggle.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0; }
  .app-nav-toggle.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .app-nav-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .app-nav-toggle.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0; } }

.col-brand {
  margin-right: auto; }
  .col-brand h1 {
    margin: 0;
    font-size: 1.2em; }
    .col-brand h1 a {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      font-weight: 400;
      text-decoration: none;
      letter-spacing: 1px; }
      .col-brand h1 a img {
        max-width: 28px;
        margin-right: 15px; }
      .col-brand h1 a span {
        color: #dddddd;
        padding-left: 5px; }
        @media (max-width: 1200px) {
          .col-brand h1 a span {
            display: none; } }

.col-search {
  width: 100%;
  max-width: 400px; }
  .col-search form {
    position: relative; }
    .col-search form svg.close-search {
      position: absolute;
      left: 10px;
      top: 8px;
      color: black;
      display: none;
      width: 20px;
      cursor: pointer;
      z-index: 1; }
    .col-search form input {
      width: 100%;
      padding: 8px 20px;
      border-radius: 4px;
      outline-color: #0472c7;
      border: 0;
      font-size: 18px;
      line-height: 26px;
      transition: all 100ms ease-in-out;
      box-shadow: 0 0 0 0;
      opacity: .5; }
    .col-search form button[type=submit] {
      position: absolute;
      background: none;
      top: 2px;
      right: 10px;
      border: 0;
      font-size: 24px; }
    @media (max-width: 992px) {
      .col-search form {
        position: relative;
        z-index: 1;
        background: #fafafa;
        border-radius: 4px;
        display: none; }
        .col-search form svg.close-search {
          display: block; }
        .col-search form input {
          padding-left: 50px;
          opacity: 1; }
        .col-search form button[type=submit] {
          top: 2px !important;
          right: 10px; } }
  @media (max-width: 992px) {
    .col-search {
      position: absolute;
      right: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      top: 10px;
      max-width: calc(100% - 30px);
      z-index: 9999; }
      .col-search button[type=submit] {
        top: 8px !important; } }

.ico-search {
  display: none;
  position: absolute;
  background: none;
  top: 4px;
  right: 15px;
  border: 0;
  font-size: 24px;
  color: #fafafa; }
  @media (max-width: 992px) {
    .ico-search {
      display: block;
      cursor: pointer; } }

/* SIDEBAR */
.sidebar-app {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  flex: 0 1 280px;
  background-color: #fafafa;
  height: calc(100vh - 4rem);
  border-right: 1px solid #dddddd;
  overflow: auto;
  transition: .2s ease; }
  .sidebar-app #users {
    padding: 0 20px 0 20px; }
  .sidebar-app .search {
    background: #FFF;
    border: 0;
    display: flex;
    width: 100%;
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
    outline: 0;
    transition: all 300ms ease-in-out; }
  .sidebar-app .search:focus {
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.14); }
  .sidebar-app ul {
    padding: 0;
    margin: 20px 0;
    list-style: none; }
    .sidebar-app ul li:hover {
      background-color: #f5f5f5; }
    .sidebar-app ul li a {
      display: flex;
      align-items: center;
      color: #263345;
      padding: 8px 20px;
      font-size: 16px;
      text-decoration: none;
      line-height: 1.4; }
  @media (max-width: 992px) {
    .sidebar-app {
      position: fixed;
      margin-left: -280px;
      height: calc(100vh - 4rem);
      width: 100%;
      max-width: 280px;
      z-index: 99; } }

.app-nav-vicariatos li {
  padding: 0 !important; }

.cat-item-33 {
  display: none !important; }

.list-sidebar-footer .ico-sidebar {
  margin-right: 5px; }

.list-sidebar-footer svg {
  position: relative;
  width: 25px !important;
  height: 25px; }

.posttype-menu-sidebar-app li a {
  padding: 3px 20px !important; }

.posttype-menu-sidebar-app li:nth-child(2) {
  display: none; }

.current-active-page-url {
  color: #7a0b13 !important; }
  .current-active-page-url svg path {
    fill: #7a0b13 !important; }

.ico-sidebar {
  margin-right: 15px;
  min-width: 30px;
  text-align: center;
  font-size: 25px; }

.name-item-sidebar {
  display: flex;
  align-items: center; }
  .name-item-sidebar span {
    position: relative;
    font-size: 16px; }

@media (min-width: 992px) {
  .sidebar-app-toogle {
    margin-left: -280px; } }

@media (max-width: 992px) {
  .sidebar-app-toogle {
    margin-left: 0; } }

.app-nav-vicariatos {
  display: flex;
  flex-direction: column; }
  .app-nav-vicariatos .cat-item-18,
  .app-nav-vicariatos .cat-item-19,
  .app-nav-vicariatos .cat-item-20,
  .app-nav-vicariatos .cat-item-21 {
    order: -1; }
  .app-nav-vicariatos li {
    display: flex;
    align-items: center;
    padding-left: 20px; }
    .app-nav-vicariatos li:before {
      position: relative;
      top: -3px;
      content: "";
      display: block;
      padding: 0;
      width: 100%;
      max-width: 14px;
      height: 4px;
      border-radius: 2px;
      background-color: #7a0b13;
      margin-top: 6px; }
    .app-nav-vicariatos li a {
      flex: 1; }
  .app-nav-vicariatos .cat-item-18 .current-active-page-url {
    color: #6f9bd8 !important; }
  .app-nav-vicariatos .cat-item-18:before {
    background-color: #6f9bd8; }
  .app-nav-vicariatos .cat-item-19 .current-active-page-url {
    color: #8355ab !important; }
  .app-nav-vicariatos .cat-item-19:before {
    background-color: #8355ab; }
  .app-nav-vicariatos .cat-item-20 .current-active-page-url {
    color: #33b86b !important; }
  .app-nav-vicariatos .cat-item-20:before {
    background-color: #33b86b; }
  .app-nav-vicariatos .cat-item-21 .current-active-page-url {
    color: #e67f3d !important; }
  .app-nav-vicariatos .cat-item-21:before {
    background-color: #e67f3d; }

.category-18 .header-content-app {
  background-color: #6f9bd8; }

.category-18 .cat-item-18 .current-active-page-url {
  color: #6f9bd8 !important; }

.category-18 .cat-item-18:before {
  background-color: #6f9bd8; }

.category-18 .image-item-app #icon-sacerdote .cls-1,
.category-18 .image-item-app #icon-church .cls-1 {
  fill: #6f9bd8; }

.category-18 .item-app h2 {
  color: #6f9bd8; }

.category-19 .header-content-app {
  background-color: #8355ab; }

.category-19 .cat-item-19 .current-active-page-url {
  color: #8355ab !important; }

.category-19 .cat-item-19:before {
  background-color: #8355ab; }

.category-19 .image-item-app #icon-sacerdote .cls-1,
.category-19 .image-item-app #icon-church .cls-1 {
  fill: #8355ab; }

.category-19 .item-app h2 {
  color: #8355ab; }

.category-20 .header-content-app {
  background-color: #33b86b; }

.category-20 .cat-item-19 .current-active-page-url {
  color: #33b86b !important; }

.category-20 .cat-item-19:before {
  background-color: #33b86b; }

.category-20 .image-item-app #icon-sacerdote .cls-1,
.category-20 .image-item-app #icon-church .cls-1 {
  fill: #33b86b; }

.category-20 .item-app h2 {
  color: #33b86b; }

.category-21 .header-content-app {
  background-color: #e67f3d; }

.category-21 .cat-item-19 .current-active-page-url {
  color: #e67f3d !important; }

.category-21 .cat-item-19:before {
  background-color: #e67f3d; }

.category-21 .image-item-app #icon-sacerdote .cls-1,
.category-21 .image-item-app #icon-church .cls-1 {
  fill: #e67f3d; }

.category-21 .item-app h2 {
  color: #e67f3d; }

.footer-sidebar {
  border-top: 1px solid #c4c4c4;
  background: #f7f7f7;
  padding: 15px; }
  .footer-sidebar p {
    color: #a1a1a1;
    font-size: 12px; }
    .footer-sidebar p:last-child {
      margin-bottom: 0; }
  .footer-sidebar .made-with span,
  .footer-sidebar .made-with svg,
  .footer-sidebar .made-with a {
    transition: all 300ms ease-in-out; }
  .footer-sidebar .made-with a {
    color: #a1a1a1; }
    .footer-sidebar .made-with a:hover {
      color: #222222; }
  .footer-sidebar .made-with svg {
    width: auto;
    height: 12px;
    color: #d80050;
    opacity: .4; }
  .footer-sidebar .made-with:hover {
    color: #222222; }
  .footer-sidebar .made-with:hover span {
    color: #263345;
    font-weight: bold; }
  .footer-sidebar .made-with:hover svg {
    opacity: 1; }

.container-report {
  padding: 20px 5px; }

.dataTable {
  border-spacing: 0 20px !important; }

.dataTable tbody tr {
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.14) 0 3px 14px, inset 0 0 0 900px white;
  border-radius: 6px;
  overflow: hidden;
  background: none !important;
  height: 70px !important; }
  .dataTable tbody tr td:first-child {
    width: 30%; }
  .dataTable tbody tr td p {
    margin: 0; }

.container-item-app hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 40px 0;
  height: 0; }

.content-app {
  padding: 15px; }

.modal-form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center; }

.modal-form__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(38, 51, 69, 0.6); }

.modal-form__container {
  position: relative;
  width: 100%;
  max-width: 360px;
  background: white;
  border-radius: 6px; }

.modal-form__title {
  background-color: #263345;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  line-height: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  letter-spacing: -1px; }

.form-modal__action {
  display: flex;
  justify-content: space-between; }

.close-form,
.send-form {
  position: absolute;
  top: 0; }
  .close-form button,
  .send-form button {
    height: 52px;
    width: 55px;
    font-size: 1.4rem;
    color: white;
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center; }

.close-form {
  left: 0; }

.send-form {
  right: 0; }

.form-modal__textarea textarea {
  outline: 0;
  border: 0;
  font-size: 16px;
  width: 100%;
  height: 130px;
  margin-top: 20px;
  min-height: 100px;
  resize: none;
  padding: 0 15px; }

.modal-form__footer {
  background: #F9F9F9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .modal-form__footer p {
    padding: 25px 15px;
    font-size: 14px;
    color: #aaa;
    font-weight: 500;
    margin: 0; }

/*-------------------------------- 
	# CATEGORY
 -------------------------------*/
.header-content-app {
  background: #7a0b13;
  padding: 15px 18px;
  color: #fafafa;
  margin: -15px -15px 0 -15px;
  text-transform: uppercase; }
  .header-content-app h3 {
    font-size: 16px;
    margin: 0; }

.header-content-app-print {
  display: flex;
  justify-content: space-between;
  align-items: center; }

* p,
* a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

.header-hierarchy {
  padding-left: 5px;
  padding: 20px 5px 0 5px;
  text-transform: uppercase; }
  .header-hierarchy:first-child {
    padding-top: 0;
    display: none; }
  .header-hierarchy p {
    margin: 0;
    color: #7a0b13; }
