//
// Buttons
// --------------------------------------------------

button.load-more{
  border: 2px solid #e1e1e1;
  color: #777;
  border-radius: 6px;
  position: relative;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  .svg-inline--fa.fa-w-14{
    width: 16px;
    margin-left: 8px;
  }

}