
.item-app {
	padding: 0;
	margin: 0;

	li {
		background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 14px;
    position: relative;
    margin: 15px 0px;
    border-radius: 6px;
		list-style: none;

    &:hover {
    	background: rgba(255,255,255,0.2);
    }

    a {
	 		display: flex;
	    align-items: center;
	    color: rgb(34, 34, 34);
	    z-index: 12;
	    padding: 16px;
	    text-decoration: none;

	    > div {
	    	flex: 1;
	    }
    }
	}
}

.item-load .item-app__item {
  display: none;
}


.col-image-item-app {
	flex: 0 1 65px !important;
}

.image-item-app {
	position: relative;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	// box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 14px;
	background: $blue;
	font-size: 30px;
	color: $white;

	img {
		width: 105%;
		height: 105%;
		-o-object-fit: cover;
			 object-fit: cover;
	}

	svg {
		width: 100%;
	}
}

.col-name-item-app {
	margin-right: auto;
	padding-left: 25px;
	max-width: 400px;
	padding-right: 40px;

	h2 {
		margin: 3px 0;
    font-weight: 500;
    font-size: 16px;
    color: $red;
	}

	p {
		font-size: 14px;
  	margin: 0;
    color: #111;

    &:first-child {
    	font-weight: 500;
    }
	}
}

.e-mail-item-app {
	padding: 0 15px;
	font-size: 14px
}

.phone-item-app {
	flex: 0 1 150px !important;
	font-size: 14px
}


/*  RESPONSIVE */
