
/*-------------------------------- 
	# SINGLE
 -------------------------------*/

.box {
	box-shadow: 0 3px 14px rgba(0,0,0,0.14);
	background: #fff;
	margin: 15px 0;
	border-radius: 6px;
}

.p-box {
	padding: 20px;
}

.container-single {
	max-width: 620px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	// overflow: hidden;

	> div {
		flex: 1;
	}

	@media (max-width: 575px) {
		flex-direction: column;

		.image-single {
			height: 42vh;
			border-radius: 6px 6px 0 0;
		}

		.header-single {
			text-align: center;
		}
	}
}

.image-single {
	position: relative;
	background-color: #263345;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 6px 0 0 6px;
	height: auto;
	min-height: 260px;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		min-width: 101%;
		min-height: 101%;
		-o-object-fit: cover;
		   object-fit: cover;
	}

	svg {
		width: 80% !important;
	}
}

.close-single {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font-size: 32px;
	line-height: 1;
	color: $white;
	display: block;
	background-color: $blue-6;
	border-radius: 6px 0 6px 0;

	button {
		width: 60px;
		height: 60px;
		cursor: pointer;
		background: none;
		border: 0;
		color: $white;
		
		svg{
			width: 30px !important;
			height: auto;
			position: relative;
			top: -2px
		}
	}
}

.text-single {
	flex: 0 1 55% !important;
	padding: 20px;
	position: relative;
}

.edit-single {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	font-size: 28px;
	line-height: 1;
	color: $white;
	display: block;
	// padding: 15px;
	background-color: $blue-6;
	border-radius: 0 6px 0 6px;

	a {
		width: 60px;
		height: 60px;
		cursor: pointer;
		background: none;
		border: 0;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&:hover {
			&:after {
				position: absolute;
				left: 100%;
				top: 16px;
				padding: 5px 0;
				content: "Editar Perfil";
				font-size: 14px;
				background: $blue-6;
				width: 90px;
				text-align: center;
				border-radius: 0 6px 6px 0;
			}
		}

		svg{
			width: 30px !important;
			height: auto;
			margin-left: 5px
		}
	}
}

@media (max-width: 575px) {
	.edit-single {
		border-radius: 0 0 0 6px;
		a {
			&:hover {
				&:after {
					left: auto;
					right: 0;
					bottom: 100%;
					top: auto;
					border-radius: 6px 6px 0 0;
				}
			}
		}
	}
}

.header-single {
	h1 {
		font-size: 20px;
		font-weight: 700;
		color: $red;
		margin: 5px 0;
	}
}

.content-text-single {
	p {
		line-height: 1.5;
		margin: 10px 0;
	}

	ul {
		padding-left: 0;
		li {
			list-style: none;
			margin: 10px 0;
			display: flex;
			align-items: flex-start;

			svg {
				width: 18px !important;
				height: auto;
				margin-top: 4px;
				margin-right: 10px;
			}
		}
	}
}

.social-list-igreja {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: -10px 0 0 0;

	li {
		padding-right: 10px;
		a {
			color: #263245;
			transform: scale(1.2);
			transform-origin: 0 0;
		}
	}
}


/* INFO SINGLE */

.extra-info-single {
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 20px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin: 10px 0;
			display: flex;
			align-items: flex-start;
			svg {
				width: 18px !important;
				height: auto;
				position: relative;
				top: 4px;
				margin-right: 10px;
			}
		}
	}
}

.conection-padre-igreja {
	padding-top: 20px;
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
}




/* 
	COMUNIDADES
*/

.text-comun-e-inst {
	font-weight: 300;
	line-height: 1.4;
}


.item-people-comun {
	&:last-child {
		ul {
			margin-bottom: 0;
		}
	}
	h4 {
		color: #7A0B13;
		font-size: 16px;
		margin: 0;
		font-weight: bold;
	}

	ul {
		margin: 10px 0 15px 0;
		padding: 0;
		list-style: none;
		li {
			display: flex;
			align-items: center;
		}
	}
}

.ico-people-comun {
	font-size: 1.3rem;
	min-width: 35px;

	svg {
		width: 23px !important;
		max-height: 30px;
	}
}

.text-people-comun {
	p {
		margin: 0;
	}
}

.email-people-comun {
	p {
		word-break: break-all;
	}
}