//
// Front page
// --------------------------------------------------


.header-hierarchy {
  padding-left: 5px;
  padding: 20px 5px 0 5px;
  text-transform: uppercase;

  &:first-child{
    padding-top: 0;
    display: none
  }
  
  p {
    margin: 0;
    color: $red;
  }
}