.container-report {
	padding: 20px 5px;
}

.dataTable {
	border-spacing: 0 20px!important;
}

.dataTable tbody tr {
	align-items: center;
	box-shadow: rgba(0,0,0,.14) 0 3px 14px, inset 0 0 0 900px white;
	border-radius: 6px;
	overflow: hidden;
	background: none!important;
	height: 70px!important;

	td {
		&:first-child {
			width: 30%;
		}
		p {
			margin: 0;
		}
	}
}


.container-item-app{
	hr {
		border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 40px 0;
    height: 0;
	}
}

.content-app {
	padding: 15px;
}


.modal-form {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
	align-items: center;
	justify-content: center;
}

.modal-form__shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(38,51,69,0.6);
}

.modal-form__container {
	position: relative;
	width: 100%;
	max-width: 360px;
	background: white;
	border-radius: 6px;
	// overflow: hidden;
}

.modal-form__title {
	background-color: #263345;
	color: white;
	text-align: center;
	font-size: 22px;
	padding: 15px;
	margin: 0;
	line-height: 1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	letter-spacing: -1px;
}

.form-modal__action {
	display: flex;
	justify-content: space-between;
}

.close-form,
.send-form {
	position: absolute;
	top: 0;

	button {
		height: 52px;
		width: 55px;
		font-size: 1.4rem;
		color: white;
		background: none;
		border: 0;
		cursor: pointer;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.close-form {	left: 0; }

.send-form { right: 0; }

.form-modal__textarea {
	textarea {
		outline: 0;
		border: 0;
		font-size: 16px;
		width: 100%;
		height: 130px;
		margin-top: 20px;
		min-height: 100px;
		resize: none;
		padding: 0 15px;
	}
}

.modal-form__footer {
	background: #F9F9F9;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	p {
		padding: 25px 15px;
		font-size: 14px;
		color: #aaa;
		font-weight: 500;
		margin: 0;
	}
}



/*-------------------------------- 
	# CATEGORY
 -------------------------------*/

.header-content-app {
	background: $red;
	padding: 15px 18px;
	color: $white;
	margin: -15px -15px 0 -15px;
	text-transform: uppercase;

	h3 {
		font-size: 16px;
		margin: 0;
	}
}

.header-content-app-print {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


* p,
* a{
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

