/**/
/* Header*/
/* --------------------------------------------------*/

.header-site {
	background: $blue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;

	.d-flex  {
		height: 4rem;
		color: $white;
		align-items: center;

		a {
			color: $white;
		}

		@media (max-width: 992px) {
			justify-content: center;

			.col-brand {
				margin-right: 0 !important;
			}
		}
	}
}

.col-ico-menu {
	padding-right: 20px;
	a {
		position: relative;
		top: 2px;
		svg {
			width: 30px;
		}
	}
}
//
// .app-nav-toggle {
//   width: 50px;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   cursor: pointer;
//   padding-left: 6px;
//   padding-right: 6px;
//   position: relative;
//   z-index: 1011;
//   -webkit-tap-highlight-color: transparent;
//
//   span,
//   span::before,
//   span::after {
//     content: " ";
//     display: block;
//     height: 2px;
//     width: 100%;
//     background: $white;
//     position: relative;
//     transition: all 300ms ease-in-out;
//   }
//
//   span::before {
//     top: -10px;
// 		animation: nav-frames-before 300ms 300ms ease-in-out alternate forwards;
//   }
//
//
//
//   span::after {
//     top: 8px;
// 		animation: nav-frames-after 300ms 300ms ease-in-out alternate forwards;
//   }
//
//   @media (max-width: 992px) {
//   	position: absolute;
//   	left: 15px;
//   	top: 7px;
//   }
// }

// MENU ANIMATE
.app-nav-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
	top: 7px;

  @media (max-width: 992px) {
  	position: absolute;
  	left: 15px;
  	top: 19px;
  }
}

.app-nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.app-nav-toggle span:nth-child(1) {
  top: 0px;
}

.app-nav-toggle span:nth-child(2),.app-nav-toggle span:nth-child(3) {
  top: 12px;
}

.app-nav-toggle span:nth-child(4) {
  top: 23px;
}

@media (max-width: 992px) {
	.app-nav-toggle.open span:nth-child(1) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
		opacity: 0;
	}
	.app-nav-toggle.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
	.app-nav-toggle.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}
	.app-nav-toggle.open span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
		opacity: 0;
	}
}


.col-brand {
	margin-right: auto;
	h1 {
		margin: 0;
		font-size: 1.2em;
		a {
			text-transform: uppercase;
			display: flex;
			align-items: center;
			font-weight: 400;
			text-decoration: none;
			letter-spacing: 1px;

			img {
				max-width: 28px;
				margin-right: 15px;
			}

			span {
				color: rgb(221, 221, 221);
				padding-left: 5px;

				@media (max-width: 1200px) {
					display: none;
				}
			}
		}
	}
}

.col-search {
	width: 100%;
	max-width: 400px;
	form {
		position: relative;
		svg.close-search {
			position: absolute;
			left: 10px;
			top: 8px;
			color: black;
			display: none;
			width: 20px;
			cursor: pointer;
			z-index: 1;
		}
		input {
			width: 100%;
	    padding: 8px 20px;
	    border-radius: 4px;
	    outline-color: #0472c7;
	    border: 0;
	    font-size: 18px;
	    line-height: 26px;
	    transition: all 100ms ease-in-out;
	    box-shadow: 0 0 0 0;
	    opacity: .5;
		}
		button[type=submit] {
			position: absolute;
			background: none;
			top: 2px;
			right: 10px;
			border: 0;
			font-size: 24px;
		}

		@media(max-width: 992px) {
			position: relative;
			z-index: 1;
			background: $white;
			border-radius: 4px;
			display: none;
			svg.close-search {
				display: block;
			}
			input {
				padding-left: 50px;
				opacity: 1;
			}
			button[type=submit] {
				top: 2px!important;
				right: 10px;
			}
		}
	}

	@media(max-width: 992px) {
		position: absolute;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		top: 10px;
		max-width: calc(100% - 30px);
		z-index: 9999;

		button[type=submit] {
			top: 8px !important;
		}
	}
}

.ico-search {
	display: none;
	position: absolute;
	background: none;
	top: 4px;
	right: 15px;
	border: 0;
	font-size: 24px;
	color: $white;

	@media(max-width: 992px) {
		display: block;
		cursor: pointer;
	}
}

/* SIDEBAR */

.sidebar-app {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
	flex: 0 1 280px;
	background-color: $white;
	height: calc(100vh - 4rem);
	border-right: 1px solid rgb(221, 221, 221);
	overflow: auto;
	transition: .2s ease;

	#users{
		padding: 0 20px 0 20px;
	}

	.search {
		background: #FFF;
		border: 0;
		display: flex;
		width: 100%;
		padding: 8px 12px 8px 12px;
		border-radius: 6px;
		outline: 0;
		transition: all 300ms ease-in-out;
	}
	.search:focus{
			box-shadow: 0 3px 16px rgba(0,0,0,0.14);
	}

	ul {
		padding: 0;
		margin: 20px 0;
		list-style: none;

		li {
			&:hover {
				background-color: #f5f5f5;
			}
			a {
				display: flex;
				align-items: center;
				color: rgb(38, 51, 69);
				padding: 8px 20px;
				font-size: 16px;
				text-decoration: none;
				line-height: 1.4;
			}
		}
	}

	@media (max-width: 992px) {
		position: fixed;
		margin-left: -280px;
		height: calc(100vh - 4rem);
		width: 100%;
		max-width: 280px;
		z-index: 99;
	}
}

.app-nav-vicariatos li{
	padding: 0 !important;
}

.cat-item-33 {
	display: none!important;
}

.list-sidebar-footer {
	.ico-sidebar {
		margin-right: 5px;
	}
	svg {
		position: relative;
		width: 25px !important;
		height: 25px;
	}
}

.posttype-menu-sidebar-app {
	li {
		a {
			padding: 3px 20px !important;
		}
		&:nth-child(2){
			display: none;
		}
	}
}

.current-active-page-url {
	color: $red !important;

	svg {
		path {
			fill: $red !important;
		}
	}
}

.ico-sidebar {
	margin-right: 15px;
	min-width: 30px;
	text-align: center;
	font-size: 25px;
}

.name-item-sidebar {
	display: flex;
	align-items: center;
	span {
		position: relative;
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	.sidebar-app-toogle {
		margin-left: -280px;
	}
}

@media (max-width: 992px) {
	.sidebar-app-toogle {
		margin-left: 0;
	}
}

.app-nav-vicariatos {
	display: flex;
	flex-direction: column;
	.cat-item-18,
	.cat-item-19,
	.cat-item-20,
	.cat-item-21{
		order: -1;
	}

	li {
    display: flex;
    align-items: center;
		padding-left: 20px;
		&:before {
			position: relative;
			top: -3px;
			content: "";
	    display: block;
	    padding: 0;
	    width: 100%;
	    max-width: 14px;
	    height: 4px;
	    border-radius: 2px;
	    background-color: $red;
	    margin-top: 6px;
		}

		a {
			flex: 1;
		}
	}

	.cat-item-18 {
		.current-active-page-url {
			color: $vic-center !important;
		}
		&:before {
			background-color: $vic-center;
		}
	}

	.cat-item-19 {
		.current-active-page-url {
			color: $vic-east !important;
		}
		&:before {
			background-color: $vic-east;
		}
	}

	.cat-item-20 {
		.current-active-page-url {
			color: $vic-north !important;
		}
		&:before {
			background-color: $vic-north;
		}
	}

	.cat-item-21 {
		.current-active-page-url {
			color: $vic-south !important;
		}
		&:before {
			background-color: $vic-south;
		}
	}
}

.category-18 {
	.header-content-app{
		background-color: $vic-center;
	}
	.cat-item-18 {
		.current-active-page-url {
			color: $vic-center !important;
		}
		&:before {
			background-color: $vic-center;
		}
	}
	.image-item-app{
		#icon-sacerdote,
		#icon-church {
			.cls-1 {
				fill: $vic-center;
			}
		}
	}
	.item-app{
		h2{
			color: $vic-center;
		}
	}
}
.category-19 {
	.header-content-app{
		background-color: $vic-east;
	}
	.cat-item-19 {
		.current-active-page-url {
			color: $vic-east !important;
		}
		&:before {
			background-color: $vic-east;
		}
	}
	.image-item-app{
		#icon-sacerdote,
		#icon-church {
			.cls-1 {
				fill: $vic-east;
			}
		}
	}
	.item-app{
		h2{
			color: $vic-east;
		}
	}
}
.category-20 {
	.header-content-app{
		background-color: $vic-north;
	}
	.cat-item-19 {
		.current-active-page-url {
			color: $vic-north !important;
		}
		&:before {
			background-color: $vic-north;
		}
	}
	.image-item-app{
		#icon-sacerdote,
		#icon-church {
			.cls-1 {
				fill: $vic-north;
			}
		}
	}
	.item-app{
		h2{
			color: $vic-north;
		}
	}
}
.category-21 {
	.header-content-app{
		background-color: $vic-south;
	}
	.cat-item-19 {
		.current-active-page-url {
			color: $vic-south !important;
		}
		&:before {
			background-color: $vic-south;
		}
	}
	.image-item-app{
		#icon-sacerdote,
		#icon-church {
			.cls-1 {
				fill: $vic-south;
			}
		}
	}
	.item-app{
		h2{
			color: $vic-south;
		}
	}
}

.footer-sidebar {
	border-top: 1px solid $row;
	background: $bg-footer-sidebar;
	padding: 15px;

	p {
		color: $text-copy;
		font-size: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.made-with{
		span,
		svg,
		a{
			transition: all 300ms ease-in-out;
		}
		a{
			color: $text-copy;
			&:hover{
				color: $font-color;
			}
		}
		svg {
			width: auto;
			height: 12px;
			color: $heart;
			opacity: .4;
		}
		&:hover{
			color: $font-color;
		}
		&:hover span{
			color: $blue;
			font-weight: bold
		}
		&:hover svg{
			opacity: 1;
		}
	}
}
